<div class="view-content">
  <div class="view-content-limit">
    <div class="view-content-limit-content">
          {% for object in data %}
          
          {% if forloop.first %}
            {% assign extra = "views-row-first" %}
          {% elsif forloop.last %}
            {% assign extra = "views-row-last" %}
          {% else %}
            {% assign extra = "" %}
          {% endif %}

      <div class="views-row views-row-{{ forloop.index }} views-row-{% cycle 'odd', 'even' %} {{ extra }}">

        <div class="views-field views-field-body">
          <div class="field-content">
            <div class="testimonies-user">
              {% if object.role %}
                <!-- if object has role - it's team member testimonial -->

                <div class="user-picture">
                  <img typeof="foaf:Image" src="/images/team/{{ object.image.url }}" alt="" />
                </div>
                <div class="name">{{ object.name }}</div>
                <div class="description">{{ object.role }}</div>

              {% else %}
                <!-- else, it's client testimonial -->
                <img typeof="foaf:Image" src="{{ object.logoUrl }}" width="115" height="20" alt="" />

              {% endif %}
            </div>
            <div class="testimonies-body">
              <div class="testimonies-arrow"></div>
              <div class="quote-open"></div>
              <div class="testimonies-text">
                {{ object.testimonial }}
                <div class="quote-close"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>