---
layout: post
---
{% include header.html %}  
   <div class="featured-background">
    <div id="featured">
      <div class="region-title-and-featured">
        <h1 class="title" id="page-title">{{ page.title }}</h1>
        <div class="region region-featured">
          <div id="block-views-author-block" class="block block-views block-odd">
            <div class="content">
              {% authors %}
            </div><!-- /.content -->
          </div><!-- /.block -->
        </div>
      </div><!-- /#region-title-and-featured -->
    </div><!-- /#featured -->
  </div><!-- /.featured-background -->
  <div class="shadow-page"></div><!-- /.shadow-page -->
  <div id="page">
    <div id="main">
      <div class="region region-content">
        <div id="block-system-main" class="block block-system block-even">
          <div class="content">
            <article id="node-12269" class="node node-article node-odd published with-comments node-full" about="{{ page.title }}" typeof="sioc:Item foaf:Document">
              <header>
                  <div class="by-and-tags">
                     <div class="by">
                        <div class="label-by">by</div>
                        <div class="name">
                           <a href="/{{ page.author }}">{{ page.author }}</a>
                        </div>
                     </div>
                     <div class="tags">
                        <div class="label-tags">tags:</div>
                        <div class="float-tags">
                           <div class="field field-name-field-domain field-type-taxonomy-term-reference field-label-hidden clearfix">
                              <ul class="links">
                                 <li class="taxonomy-term-reference-0"><a href="/java" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">{{ page.category }}</a></li>
                              </ul>
                           </div>
                           <div class="field field-name-field-tags field-type-taxonomy-term-reference field-label-hidden clearfix">
                              <ul class="links">
                                 {% for tag in page.tags %}
                                    <li class="taxonomy-term-reference-0" rel="dc:subject"><a href="/tags/{{ tag }}" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">{{ tag }}</a></li>
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--end "by-and-tags"-->
                  <time pubdate datetime="2013-10-07T14:36:11">
                     <div class="day">7</div>
                     Oct. 2013        
                  </time>
                  <div class='comments-link'>
                     <a href="#comments" class='comments-link-in-page'>
                        <div class='count'>0</div>
                        <div> comments</div>
                     </a>
                  </div>
                  <div class="sharethis-buttons">
                     <div class="sharethis-wrapper">
                        <span st_url="http://tikalk.com/{{ page.url }}" st_title="{{ page.title }}" class="st_linkedin_hcount" displaytext="linkedin"></span>
                        
                        <span st_url="http://tikalk.com/{{ page.url }}" st_title="{{ page.title }}" class="st_twitter_hcount" displaytext="twitter"></span>
                        
                        <span st_url="http://tikalk.com/{{ page.url }}" st_title="{{ page.title }}" class="st_fblike_hcount" displaytext="fblike"></span>

                        <!--<span st_url="http://tikalk.com/{{ page.url }}" st_title="{{ page.title }}" class="st_googleplus_hcount"displaytext="googleplus"></span>-->
                  

                        <script type='text/javascript'>var switchTo5x = true;</script><script type='text/javascript' src='http://w.sharethis.com/button/buttons.js'></script><script type='text/javascript'>stLight.options({"publisher":"dr-43c3dc3e-136a-41bc-757c-8e096a2488a7"});</script>
                     </div>
                  </div>
               </header>
              <div class="content">
                <div class="field-items">
                  <div class="field-item">
                    <div class="MsoNormal">
                      {{ content }}
                    </div>
                  </div>
                </div>
              </div><!-- /.content -->
            <!-- /.node -->
            </article>
          </div><!-- /.content -->
        </div><!-- /.block -->

        <div id="block-facebook-comments-box-facebook-comments-box" class=
        "block block-facebook-comments-box block-odd">
          <div class="content">
            <div class="facebook-comments-box">
              <div id="fb-root"></div><script src=
              "http://connect.facebook.net/en_US/all.js#xfbml=1" type="text/javascript"></script>
            </div>
          </div><!-- /.content -->
        </div><!-- /.block -->
      </div>

      <div>
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
         <fb:comments href="http://www.tikalk.com{{ page.url }}" num_posts="10" width="600" colorscheme="light" fb-xfbml-state="rendered" class="fb_iframe_widget"></fb:comments>
      </div>
      

    </div><!-- /#main -->
  </div><!-- /#page -->
{% include footer.html %}
